.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.loadingContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.pokemonContainer{
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #94C393;
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.image{
    filter: drop-shadow(2px 2px 5px rgba($color: #000000, $alpha: 0.8));
    z-index: 2;
}
.imageContainer h1{
    font-size: min(100px, 13vw);
    text-transform: capitalize;
    color: #fff;
    opacity: 30%;
    text-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 1.0);
    margin-left: -40px;
    z-index: 1;
}

.type_normal {
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    margin-right: 5px;
  }
  
  .type_fire {
    color: #f42;
  }
  
  .type_water {
    color: #39f;
  }
  
  .type_eletric {
    color: #fc3;
  }
  
  .type_grass {
    color: #7c5;
  }
  
  .type_ice {
    color: #6cf;
  }
  
  .type_fighting {
    color: #b54;
  }
  
  .type_poison {
    color: #a59;
  }
  
  .type_ground {
    color: #db5;
  }
  
  .type_flying {
    color: #89f;
  }
  
  .type_psychic {
    color: #f59;
  }
  
  .type_bug {
    color: #ab2;
  }
  
  .type_rock {
    color: #ba6;
  }
  
  .type_ghost {
    color: #66b;
  }
  
  .type_dragon {
    color: #76e;
  }
  
  .type_dark {
    color: #754;
  }
  
  .type_steel {
    color: #aab;
  }
  
  .type_fairy {
    color: #e9e;
  }


.infoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50px 50px 5px 5px;
    padding: 40px 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
}
.infoContainer h3{
    width: 100%;
    font-size: min(35px, 5vw);
    text-align: center;
    color: #94C393;
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.aboutContainer{
    width: min(100%, 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.aboutContainer h1{
    font-size: min(40px, 3vh);
    text-transform: capitalize;
    color: #58575F;
    border-bottom: 2px solid #d3d3d3;
    padding: 5px 0;
    margin-bottom: 5px;
}
.aboutContainer h4{
    font-size: min(26px, 2.2vh);
    color: #FE3C00;
}
.typeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typeContainer h4{
    font-size: min(60px, 10vw);
    color: #FE3C00;
    padding-right: 30px;
}
.typeContainer span{
    border-left: 2px solid #d3d3d3; 
    padding-left: 30px; 
}
.typeContainer h6{
    font-size: min(60px, 10vw);
}